# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# FAISS Index
faiss_index/

# Streamlit
.streamlit/

# Dynamic folders
processed/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db